fuzzywuzzy
levenshtein
homeassistant>=2023.12.0  # Minimum version with good component support
pytest-homeassistant-custom-component==0.13.295
pytest
pytest-asyncio
pytest-cov
ruff
tinytuya~=1.17.4
tuya-device-sharing-sdk~=0.2.4
yamllint

